<div class="toast toast-start">
  @for(info of toastService.toastContent(); track info.id) {
  <div
    [class]="{
      alert: true,
      'text-white': true,
      flex: true,
      'items-center': true,
      'alert-success': info.type === 'success',
      'alert-error': info.type === 'error',
      'alert-warning': info.type === 'warning',
      'alert-info': info.type === 'info' || info.type === undefined
    }"
  >
    <span>{{ info.message }}</span>
    <button (click)="toastService.remove(info.id)" class="btn btn-sm btn-ghost">x</button>
  </div>
  }
</div>
